<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="FirstSuite">
  <test name="FirstTest">
  <parameter name= "browser" value="Firefox"/>
    <classes>
      <class name="TestNGPack.SecondTestNG"/>
      <class name="TestNGPack.FirstTestNG"/>
    </classes>
  </test> <!-- FirstTest -->
</suite> <!-- FirstSuite -->
